AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
BreakStringLiterals: false
InsertBraces: true
PointerAlignment: Right
SpaceBeforeSquareBrackets: false